body{
    background-color: black;
}
.box{
    background-color:white;
    
    width: 450px;
    margin: auto;
    margin-bottom: 55px;
    border: 1px solid rgb(226, 226, 226);
    
}
.box .header .date{
    float: right;
    background-color: transparent;
    color: lightgray;
    margin: 0;
}

img{
    width: 100%;
}